body {
    display: flex; /* Add flexbox to center the container */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    min-height: 100vh; /* Ensure full height for centering */
    margin: 0; /* Reset default body margin */
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;    
    background: url(white.png) no-repeat center center fixed;
    background-size: contain;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
}

input[type="text"],
input[type="passw"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #b3cff070;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #187ba1;
}

h2 {
    text-align: center;
    color: #333;
}
